main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: black;
    color: white;

    .action {
        position: absolute;
        top: 2%;
        height: 15%;
        width: 95%;
        border: 4px solid white;
        animation: element-title ease-in 2s forwards 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // display: none;
    }

    .new-text {
        position: absolute;
        height: 75%;
        width: 95%;
        bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

        .ti {
            width: 80%;
            height: 100%;
            border: 4px solid blue;
            margin: 0 2px;
            animation: texte-input forwards 1 2s linear;
            color: white;

            .menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 10%;
                background-color: rgb(20, 20, 20);

                button {
                    @extend %but;
                    width: 10%;
                    margin: 0 1%;
                    background-color: rgb(4, 126, 197);
                }

                input {
                    padding: 5px 5px;
                    outline: none;
                    border: none;
                    margin: 0 1%;
                    display: none;

                    &:focus {
                        border: 2px solid orangered;
                    }
                }

                .save {
                    display: none;
                }

            }

            .menu+div {
                height: 90%;
                width: 100%;

                textarea {
                    height: 100%;
                    width: 100%;
                    padding: 20px;
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    resize: none;
                }
            }

        }

        .te {
            background-color: rgba(0, 0, 0, 0.781);
            margin: 0 2px;
            width: 20%;
            height: 100%;
            border: 4px solid blue;
            padding: 10px;
            overflow-y: auto;

            input {
                padding: 10px 20px;
                outline: none;
                border: none;

                &:focus {
                    border: 2px solid orangered;
                }
            }

            .element-title {
                margin-top: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10%;
                color: white;
                background-color: rgb(24, 23, 23);
                animation: element-title ease-in 2s forwards 1;


                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;

                    button {
                        @extend %but;
                        width: 40%;
                        margin: 0 5%;
                    }

                    button:nth-child(1) {
                        background-color: rgb(231, 13, 13);
                    }

                    button:nth-child(2) {
                        background-color: rgb(15, 233, 15);
                    }

                }
            }
        }
    }

}

%but {
    cursor: pointer;
    height: 50%;
    border: none;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.2);

        &::before {
            filter: blur(2px);
        }
    }

}

@keyframes element-title {

    //animation pour l affichage des titres
    0% {
        clip-path: circle(0 at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}


@keyframes texte-input {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.add-animation {
    animation: element-title .5s linear forwards 1;
}